DATABASE_URL=postgresql://username:password@127.0.0.1:5433/recruiters
SKILLS_FILE=data/skills_dictionary/skills_dictionary.json
RAW_RESUME_DIR=data/raw_resumes
PARSED_RESUME_DIR=data/parsed_resumes

DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=recruiters
DB_USER=postgres
DB_PASSWORD=your_password_here